@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  /* --background-body: #292929; */
  --background-body: #0d1117;
  /* --background-header: #1d1d1d; */
  --background-header: #0d1117;
  --background-code-block: rgba(110, 118, 129, 0.4);
  --link-color: #2f81f7;
  --text-color: #e6edf3;
  --quote-color: #7d8590;
}

body {
  margin: 0;
  font-size: 1rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  background: var(--background-body);
  color: var(--text-color);
  overscroll-behavior-y: none;
}

a {
  text-decoration: none;
  color: var(--link-color);  
  cursor: pointer;
}

/* Global */
svg {
  width: 1.5rem;
}
button.icon {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  height: 100%;
}
.title-container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
  cursor: pointer;
}

.post-title {
  font-size: 2.5rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;
  margin-bottom: 5px;
}
.post-subtitle {
  font-size: medium;
  margin-top: 0;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}
.post-subtitle:hover {
  opacity: 0.8;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background: var(--background-header);
  box-shadow: 1px 2px rgba(75,75,75, 0.3);
  align-items: center;
  z-index: 10;
  padding: 20px;
}

.body-wrapper {
  padding-top: 50px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.left-side {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  margin-right: 10px;
  font-size: 20px;
  scale: 120%;
}

.title {
  display: flex;
  align-items: center;
  align-self: center;
  margin: auto;
}

.title h1{
  font-size: 1.7rem;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .25em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  transform-origin:bottom left;
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end 1 3.5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {  border-color: transparent; }
  50% { border-right: orange; }
}

.navbar-wrapper nav p {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 500ms ease-in;
  color: var(--text-color);
  opacity: 0.8;
}

.navbar-wrapper nav p:hover {
  opacity: 1;
}

/* Post */
.article {
  margin: 4rem 0;
}
.post-wrapper {
  width: 100%;
}

/* Code */
.code {
  position: relative;
}
.code .copy-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 5;
}

.copy-icon {
  color: var(--text-color);
  cursor: pointer;
}

/* Markdown components */

ul {
  list-style-type: disc;
}

.checkbox-list {
  list-style-type: none;
  padding-left: 0;
}

input[type="checkbox"]:checked {
  background-color: #2196f3; /* Replace with your desired color */
  border-color: #2196f3;
}

.inline-code {
  background-color: var(--background-code-block);
  padding: 3px 5px;
  border-radius: 6px;
  font-size: small;
  color: #e6edf3;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}

.blockquote {
  color: var(--quote-color);
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: var(--quote-color);
  padding-left: 15px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  line-height: 1.5;
}